<div class="row">
  <div class="large-9 large-centered columns">
    <h2>Create Profile</h2>
  </div>
</div>

<div class="row">
  <div class="large-9 large-centered columns error_panel">
    <% if @profile.errors.any? %>
      <div id="error_explanation">

        <ul>
        <% @profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="large-9 small-centered small-12 columns">
    <%= form_for @profile, url: {action: "create"} do |f| %>
      <div class="row">
        <div class="large-6 columns">
          <label>Name</label>
          <%= f.text_field :name, :placeholder => "John Doe" %>
        </div>

        <div class="large-6 columns">
          <label>E-mail</label>
          <%= f.email_field :email, :placeholder => "john@example.com" %>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <label>Mobile Number</label>
          <%= f.text_field :mobile, :placeholder => "(555) 555-5555" %>
        </div>

        <div class="large-6 columns">
          <label>T-shirt Size</label>
          <%= select_tag(:tshirt_size, options_for_select([["Small", "S"], ["Medium", "M"], ["Large", "L"], ["X-Large", "XL"], ["2X-Large", "2XL"], ["3X-Large", "3XL"]])) %>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <label>Age Group</label>
          <%= select_tag(:age_group, options_for_select([["Under 18", 1], ["18-20", 2], ["21 and Over", 3]])) %>
        </div>
      </div>

      <div class="row inputs">
        <div class="large-12 columns">
          <%= f.submit "Continue", :class => "button" %>
        </div>
      </div>
      </div>
    <% end %>
  </div>
</div>